<div class="container py-4">
  <div *ngIf="responseData._header">
    <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{responseData._header.localRecordingId}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="row">
                <div class="col-6">
                  <p>version: {{responseData._header.dataFormat}}</p>
                  <p>Patient ID: {{responseData._header.patientId}}</p>
                  <p>Local ID: {{responseData._header.localRecordingId}}</p>
                  <p>Start DateTime: {{responseData._header.recordingDate}}</p>
                </div>
                <div class="col-6">
                  <p>Reserved: {{responseData._header.reserved}}</p>
                  <p>Number of records: {{responseData._header.nbDataRecords}}</p>
                  <p>Duration of a record: {{responseData._header.durationDataRecordsSec}}</p>
                  <p>Number of signals: {{responseData._header.nbSignals}}</p>
                </div>

              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="chart-block container-fluid" style="overflow-x: hidden;">
  <app-time-scale [timeScale]="timeScale" (timeScaleChange)="onTimeScaleChange($event)"></app-time-scale>
  <div #chart style="width: 100%; height: 400px;"></div>
</div>

<div class="container py-4" *ngIf="responseData._header">
  <div class="card mt3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" ngbNav #nav="ngbNav">
        <li ngbNavItem class="nav-item" *ngFor="let sample of RRIntervalsPerSample; index as sgnlI">
          <button ngbNavLink class="nav-link">{{responseData._header.signalInfo[sgnlI].label}}</button>
          <ng-template ngbNavContent>
            <h5 class="card-title">{{responseData._header.signalInfo[sgnlI].label}}</h5>
            <div class="row" *ngIf="RRIntervalsPerSample && RRIntervalsPerSample[sgnlI][0].time.toNumber() !== 0">
              <div class="col" *ngFor="let interval of sample; index as i">
                <p>
                  interval {{i+1}} at <span class="">{{interval.time.toNumber()}} seconds</span> <br>
                  <span *ngIf="QTIntervalsPerSignal[sgnlI]">
                    Q wave: {{QTIntervalsPerSignal[sgnlI][i][0].toNumber()}} <br>
                    T wave: {{QTIntervalsPerSignal[sgnlI][i][1].toNumber()}} <br>
                    QT interval: {{QTIntervalsPerSignal[sgnlI][i][2].toNumber()}}
                  </span>
                </p>
              </div>
            </div>
            <div class="row py-3" *ngIf="RRIntervalsPerSample && RRIntervalsPerSample[sgnlI].length > 2">
              <button class="btn btn-primary" (click)="this.calculateQTIntervals(sgnlI)">Calculate QT Intervals</button>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>


<div *ngIf="isLoading" class="loading-screen">
  <p>Loading...</ p>
</div>